.volume-knob {
  --knob-size: 90px;
  --knob-angle: 0deg;
  --knob-value: 0.5;

  position: relative;
  width: var(--knob-size);
  height: var(--knob-size);

  flex: 0 0 auto;

  --cursor-image: url('@/shared/assets/common/cursors/hand-open.png') 20 10, grab;
  cursor: var(--cursor-rendering, var(--cursor-image));
  user-select: none;
  touch-action: none;

  outline: none;
}

.volume-knob:active {
  --cursor-image: url('@/shared/assets/common/cursors/hand-grab.png') 20 10, grab;
  cursor: var(--cursor-rendering, var(--cursor-image));
}

.volume-knob:focus-visible {
  border-radius: 50%;
  box-shadow:
    0 0 0 2px rgba(255, 255, 255, 0.8),
    0 0 0 4px rgba(40, 120, 255, 0.45);
}

/* Сам корпус ручки */
.volume-knob__body {
  position: absolute;
  inset: 0;

  border-radius: 50%;

  transform: rotate(var(--knob-angle));
  transition: transform 80ms linear;
}

/* Насечка / указатель положения */
.volume-knob__indicator {
  position: absolute;

  top: -3px;
  left: 50%;

  width: 3px;
  height: 22px;

  transform: translateX(-50%);

  border-radius: 999px;

  background: #f4f4f4;

  box-shadow:
    0 0 2px rgba(255, 255, 255, 0.8),
    0 1px 2px rgba(0, 0, 0, 0.7);
}

/* Центральная часть */
.volume-knob__center {
  position: absolute;

  top: 50%;
  left: 50%;

  width: 13px;
  height: 13px;

  transform: translate(-50%, -50%);

  border-radius: 50%;
}
